body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkslategray;
  font-size: 15em;
}
h1 {
  font-size: 10rem;
  font-family: "Dancing Script", cursive;
  text-decoration-line: underline overline;
  text-decoration-color: whitesmoke;
  text-underline-offset: 20%;
  text-decoration-thickness: 5px;
}

.letter {
  transition: color 1000ms;
}
